name: Example for minimal setup
on:
  push:
    branches:
      - master

jobs:
  linux:
    name: Testi
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '8'
    - name: Run isabelle
      run: ./bin/isabelle
