name: Example for minimal setup
on:
  push:
    branches:
      - master

jobs:
  linux:
    name: Testi
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run isabelle components -I
      run: ./bin/isabelle components -I
    - name: Run isabelle components -a
      run: ./bin/isabelle components -a
    - name: Build HOL
      run: ./bin/isabelle build -b -v HOL
    - uses: actions/upload-artifact@v2
      with:
        name: heap stuff
        path: .isabelle
